beautifulsoup4==4.9.1
ghp-import==1.1.0
instaloader==4.7.1
Markdown==3.2.2
pelican==4.6.0
Pygments==2.8.1
jsonpath-rw==1.4.0
jsonpath-rw-ext==1.2.2
webassets==2.0
pillow==8.2.0
mdx-include==1.4.1
git+git://github.com/drJabber/md-video.git@additions#egg=md-video