{% if article_list %}
  <div class="is-hidden-print">
    <h2 class="subtitle">{{ OTHER_ARTICLES_WIDGET_NAME or "Other articles" }}</h2>
    <div class="columns is-1 is-multiline">
      {% for article in article_list %}
        <div class="column is-half-tablet is-one-third-desktop">
          <div class="card is-fullwidth is-fullheight  has-transparent-bg">
            <div class="card-content is-paddingless">
              <div class="columns is-gapless">
                <div class="column is-one-quarter">
                    {% if article.image %}
                      <a href="{{ SITEURL }}/{{ article.url }}"><img src="/img/thumbs/{{ article.image }}" class="img-responsive float-left mr-4" alt="{{ article.title }}"></a>
                    {% endif %}
                </div>
                <div class="column">
                    <h3 class="title is-5">{{ article.title }}</h3>

                    <div class="heading subtitle">{{ article.locale_date }}</div>
                    <div><p>{{ article.summary | striptags | truncate(120, end='...<br />') }}</p></div>
                </div>
              </div>


              {% include 'comments.html' %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% include 'pagination.html' %}
  </div>
{% endif %}
