{% extends "base.html" %}
{% block title %} 
   {% if (article.title) and (article.title!='') %}
     {{ article.title|striptags }} 
   {% else %}
     {{ SITENAME }}
   {% endif %}
{% endblock %}
{% block tags %}
  {% with item=article %}
    {% include 'meta_tags.html' %}
  {% endwith %}
{% endblock %}
{% block content %}
<section id="content" class="body">
  <article class="has-light-bg is-border-rounded-n-r has-margin-top-10-desktop">
    <h1 class="title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
    {% include 'article_infos.html' %}


    {%if DISPLAY_TOP_BANNER %}
        {% include 'banner.html' %}
    {% endif %}    

    <div class="section">{{ article.content }}</div>
    {% if DISQUS_SITENAME!='' %}
    <div id="disqus_thread"></div>
    <div>
      <script>
    
        var disqus_config = function () {
          this.page.url = '{{ SITEURL }}/{{ article.url }}';  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = {{ article.url }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Пожалуйста разрешите JavaScript, чтобы иметь возможность видеть комментарии.</noscript>

    </div>
    {% endif %}
  </article>

  </article>
</section>

<script type="application/ld+json">
  {{ article | schema(SITEURL) }}
</script>

{% endblock %}
