<nav class="pagination is-centered">
  {% if articles_page.has_previous() %}
    <a class="pagination-previous  has-main-background-color"
       href="{{ SITEURL }}/{{ articles_previous_page.url }}">
      Сюда
    </a>
  {% else %}
    <a class="pagination-previous" href="#" disabled>
      
    </a>
  {% endif %}
  {% if articles_page.has_next() %}
    <a class="pagination-next has-main-background-color"
       href="{{ SITEURL }}/{{ articles_next_page.url }}">
      Туда
    </a>
  {% else %}
    <a class="pagination-next" href="#" disabled>
      Туда
    </a>
  {% endif %}
  <ul class="pagination-list">
    <li>Страница {{ articles_page.number }} / {{ articles_paginator.num_pages }}</li>
  </ul>
</nav>
<br>
